/* Black semi-transparent overlay */
.connections-modal-overlay {
  background-color: rgba(0, 0, 0, 0.208);
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}


/* -------------------Modal card */
.connections-modal {
  display: flex;
  flex-direction: column;

  background-color: var(--background-color);
  border-radius: 12px;
  
  height: 100%;
  max-height: 75vh;

  width: 100%;
  max-width: 32rem;
  /* max-height: 90vh; */

  gap: 0.5rem;

  padding: 2rem 1.5rem;
} 

.connections-modal-header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.connections-modal-header-text {
  padding: 1rem;
  color: var(--primary-text-color);
}


/* Follower, Following Tabs */
.connections-modal-tabs {
  display: flex;
  flex-direction: row;

  justify-content: space-around;

  /* margin-top: 1rem; */
  padding: 0;
  
  border-bottom: 2px solid rgb(90, 90, 90);
}

.connections-modal-tab-option {
  padding: 0 1rem 1rem 1rem;
  /* border-bottom: 2px solid var(--tab-option-color); */
  color: var(--tab-option-color);
}
.connections-modal-tab-option:hover {
  color: rgb(138, 199, 138);
  border-bottom: 2px solid rgb(138, 199, 138);
}

.connections-modal-preview-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.connections-modal-preview-empty-div{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-background-color);
  border-radius: 7.5px;
}


/* Close button */
.connections-modal-closeX {
  background: transparent; /*was a button*/
  color: var(--primary-text-color);
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
}