@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* TODO: update with useContext */
  /* Color Variables */
  --background-color: #2a2a2a; /*darkest gray*/
  --navbar-gray: #272727; /*second darkest gray*/
  --accent-green: #1ED760;
}

.app-layout {
  display: flex;
}

.main-content {
  margin-left: 220px;
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
}

/*----------------------Typography*/

/* Sizing Styles */
.xs {
  font-size: 0.9rem;
}

.s {
  font-size: 1rem;
}

.m {
  font-size: 1.25rem;
}

.l {
  font-size: 1.5rem;
}

/*----------------------HTML elements*/
/* Override Default Button */
button {
  border: none;
  padding: 0.75rem 1.30rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  /* background-color: gray; */
}